@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: black;
  background-color: #ffffff;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.header {
  background-color: #ffffff;
  color: #000000;

}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 577px;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  font-family: "PT-Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  background-color: #ffffff;
  text-decoration: none;

}

.button {
  font-family: "PT-Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-align: center;
}

.hero {
  color: #000000;
  background-color: #ffffff;
  background-image: url(/images/hero-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;


}

.hero-title {
  display: block;
  margin: 0 auto;
  width: 458px;
  height: 352px;
}

.advantages-header {
  padding: 69px;
}
.advantages-header-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  }

.advantages-header-definition {
  text-transform: none;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.advantages-visual {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 1200px;
}

.advantages-visual-box {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  width: 400px;
  height: 384px;
  background-color: #82B3D3;
  color: #ffffff;

}

.advantages-title {

  margin-left: auto;
  margin-right: auto;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-description {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  text-transform: none;
}

.advantages-image {
  width: 800px;
  height: 384px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-item {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  width: 400px;
  height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantage-item-dark {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.advice-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

}

.advice-item-dark {
  background-color: rgba(131, 179, 211, 0.12);

}

.advice-item {
  text-align: center;
  width: 400px;
  height: 385px;
  
}

.advice-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.advice-description {
  text-transform: none;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;

}
.advantages-footer {
  padding: 69px;
}
.advantages-footer-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  }

.advantages-footer-definition {
  text-transform: none;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}


.search {
  background-color: #ffffff;
  text-align: center;
 
  padding: 96px 304px;
  gap: 10px;
}
  

.search-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.search-description {
  text-transform: none;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;

}

.search-button-hotel {
  font-family: "PT-Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  width: 376px;
  align-items: center;
  padding: 15px 30px;
}

.notification {
  align-items: center;
  text-align: center;
  color: #ffffff;
  background-image: url(/images/subscribe-background.jpg);
  
  background-repeat: no-repeat;
  width: 1200px;
  background-size: cover;
  display: table;
  
}

.notification-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  display: table-row;
  margin: 0 auto;
  width: 458px;
  height: 352px;
}

.notification-description {
  text-transform: none;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  display: table-row;

}
.notification-form {
  display: block;
}
.notification-input {
  width: 452px;
  font-size: 18px;
  padding: 14px 20px;
  background-color: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border: none;
  line-height: 24px;
}

.notification-input::placeholder {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
}

.submit-description {
  background-color: #82B3D3;
  border-radius: 0px 4px 4px 0px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;

  padding: 8px 50px;
  border: none;

}



.page-footer {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;


}

.phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration-line: none;
  text-align: center;
  color: #000000;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  background-color: #6e6565;

}

.breadcrumbs-link {
  font-family: "PT-Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.sorting {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.button-transporent {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button-button-blue {
  background: #82B3D3;
  bodisplay: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.hotel-card-rating {
  background: #F2F2F2;
  border-radius: 4px;

  width: 140px;
  height: 37px;
  left: 160px;
  top: 0px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.button-button-green {
  background: #7DB54F;
  bodisplay: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.hotel-card-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.button-more {
  font-family: "PT-Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  ;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.notification-title-catalog {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.notification-description-catalog {
  text-transform: none;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.page-footer a {
  color: #000000;
  text-decoration-line: none;
}